<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="DEBUG"/>

    <logger name="com.cachexic.apple" level="DEBUG" />

    <!-- 测试环境+开发环境. 多个使用逗号隔开.
    <springProfile name="test,dev">
        <logger name="org.springframework.web" level="INFO"/>
        <logger name="org.cachexic.apple" level="INFO" />
        <logger name="com.kfit" level="info" />
    </springProfile>-->
</configuration>